[submodule "sdx-downstream"]
	path = sdx-downstream
	url = git@github.com:ONSdigital/sdx-downstream.git
[submodule "sdx-transform-cs"]
	path = sdx-transform-cs
	url = git@github.com:ONSdigital/sdx-transform-cs.git
[submodule "sdx-sequence"]
	path = sdx-sequence
	url = git@github.com:ONSdigital/sdx-sequence.git
[submodule "sdx-transform-testform"]
	path = sdx-transform-testform
	url = git@github.com:ONSdigital/sdx-transform-testform.git
[submodule "sdx-mock-receipt"]
	path = sdx-mock-receipt
	url = git@github.com:ONSdigital/sdx-mock-receipt.git
